# Dependencies
node_modules/

# Build output
dist/

# Environment files
.env
.env.*
!.env.example

# .md files
*.md
!README.md

# Testing and Coverage
coverage/
.nyc_output/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
